<div class="container">
    <div class="row">
      <!-- Subject 1 -->
      <div class="col-md-6">
        <h2 class="text-center mt-2">MAD 1</h2>
        <div class="table-div">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Chapter Name</th>
                <th scope="col">No. of Questions</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>html</td>
                <td>15</td>
                <td>
                  <button type="button" class="btn btn-secondary">Edit</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
              <tr>
                <td>css</td>
                <td>10</td>
                <td>
                  <button type="button" class="btn btn-secondary">Edit</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success float-end">+ Add chapter</button>
        </div>
      </div>
    </div>
</div>